<center><img src="https://file.diplomeo-static.com/file/00/00/01/34/13431.svg" alt="drawing" style="width:100px;"/></center>

# Introduction à Python pour la Data Science

## Exercices de découverte de Python

## Exercice 1
Soit les vecteurs :

In [1]:
v1 = [3, 2, 7,55]
v2 = [6,8,5,6]

- Faire la somme de v1 et v2 et conserver le résultat dans une variable v3. 
- Réaliser le produit des éléments de v2
- Rajouter 4 dans v1 à toutes les valeurs inférieur à 30

## Solution

- Faire la somme de v1 et v2 et conserver le résultat dans une variable v3.

In [2]:
v3 = [v1[0] + v2[0], v1[1] + v2[1], v1[2] + v2[2], v1[3] + v2[3]]

In [3]:
v3

[9, 10, 12, 61]

- Réaliser le produit des éléments de v2

In [4]:
v4 = [v1[0] * v2[0], v1[1] * v2[1], v1[2] * v2[2], v1[3] * v2[3]]

In [5]:
v4

[18, 16, 35, 330]

- Rajouter 4 dans v1 à toutes les valeurs inférieur à 30

In [6]:
for i in range(len(v1)):
    if v1[i]< 30:
        v1[i]=v1[i]+4

In [7]:
v1

[7, 6, 11, 55]

## Exercice 2
- Créer deux listes list1 et list2 contenant chacune le nom, prenom, age d’une personne fictive.
- Les regrouper dans une même liste "couple".
- Afficher indépendamment leur nom et prénom.

## Solution

- Créer deux listes list1 et list2 contenant chacune le nom, prenom, age d’une personne fictive.

In [38]:
list1 = ["Ismaela", "Chimère", 12]
list2 = ["Cheik", "Faye", 14]

- Les regrouper dans une même liste "couple".

In [39]:
couple = [list1,list2]

In [40]:
couple

[['Ismaela', 'Chimère', 12], ['Cheik', 'Faye', 14]]

- Afficher indépendamment leur nom et prénom.

In [68]:
for i in couple:
    nom = [i[1],i[0]] 
    prenom = [i[0],i[1]]

In [69]:
nom

['Faye', 'Cheik']

In [70]:
prenom

['Cheik', 'Faye']

## Exercice 3
Soit la liste :

In [8]:
liste = [17, 38, 10, 25, 72]

- trier et afficher la liste ;
- ajouter l’élément 12 à la liste et afficher la liste ;
- renverser et afficher la liste ;
- afficher l’indice de l’élément 17 ;
- enlever l’élément 38 et afficher la liste ;
- afficher la sous-liste du 2éme 3eme élément ;
- afficher la sous-liste du début au 2eélément ;
- afficher la sous-liste du 3eélément à la fin de la liste ;
- afficher la sous-liste complète de la liste ;
- afficher le dernier élément en utilisant un indiçage négatif.

## Solution

- trier et afficher la liste

In [9]:
liste.sort()

In [10]:
liste

[10, 17, 25, 38, 72]

- ajouter l’élément 12 à la liste et afficher la liste

In [13]:
liste.append(12)

In [14]:
liste

[10, 17, 25, 38, 72, 12, 12]

- renverser et afficher la liste

In [15]:
liste.reverse()

In [16]:
liste

[12, 12, 72, 38, 25, 17, 10]

- afficher l’indice de l’élément 17

In [17]:
liste.index(17)

5

- enlever l’élément 38 et afficher la liste

In [18]:
liste.remove(38)

In [19]:
liste

[12, 12, 72, 25, 17, 10]

- afficher la sous-liste du 2éme 3eme élément

In [20]:
lis=[liste[1],liste[2]]

In [21]:
lis

[12, 72]

- afficher la sous-liste du début au 2 élément

In [22]:
list=liste[:2]

In [23]:
list

[12, 12]

- afficher la sous-liste du 3eélément à la fin de la liste

In [24]:
list1=liste[2:]

In [25]:
list1

[72, 25, 17, 10]

- afficher la sous-liste complète de la liste

In [26]:
list2=liste[:]

In [27]:
list2

[12, 12, 72, 25, 17, 10]

- afficher le dernier élément en utilisant un indiçage négatif

In [28]:
list3=liste[-1]

In [29]:
list3

10

## Exercice 4

Créer un tableau « Donnee» de 3 colonnes et 6 lignes telles que :
- la première colonne contienne la variable taille en cm,
- la deuxième colonne contienne la variable poids,
- la troisième colonne soit un facteur indiquant le sexe de l'individu.
- Utiliser un DataFrame Pandas

- Nommer les colonnes de ce tableau de manière adéquate.
- Calculer une variable IMC tel que IMC = poids / taille^2 et l’intégrer dans le tableau donnee
- Quel est l’IMC moyen ?
- Combien-y-a-t-il de femme et d’homme ?

## Exercice 5
Initialisez deux entiers : a = 0 et b = 10.
Écrire une boucle affichant et incrémentant la valeur de a tant qu’elle reste inférieure
à celle de b.
Écrire une autre boucle décrémentant la valeur de b et affichant sa valeur si elle est
impaire. Boucler tant que b n’est pas nul.

## Solution

a = 0 et b = 10. Écrire une boucle affichant et incrémentant la valeur de a tant qu’elle reste inférieure à celle de b.

In [40]:
a=0
b=10
while a<b:
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9

Écrire une autre boucle décrémentant la valeur de b et affichant sa valeur si elle est impaire. Boucler tant que b n’est pas nul.

In [41]:
b=10
while b!=0:
    if b%2!=0:
        print(b)
    b-=1

9
7
5
3
1

## Exercice 6

Ecrire une fonction « CalculTarif » qui prend pour argument une valeur d’âge et qui affiche : « demi-‐tarif » si l’âge est inférieur à 12 ans, « tarif sénior » si l’âge est supérieur à 60 ans et « plein tarif » sinon. 

- Tester votre fonction pour des personnes de 5, 65, 85, 41, 23, 47 ans.

## Solution

In [44]:
def CalculTarif(n):
    if n<12:
        print("demi--tarif")
    elif n>60:
        print("tarif sénior")
    else:
        print("plein tarif")

In [50]:
CalculTarif(47)

plein tarif

## Exercice 7

Créer une fonction « formule » qui prend en argument une valeur de X et qui donne en sortie la valeur de Y associée.  
Calculer la liste « Youtput » des valeurs de Y associées aux valeurs de X = 15, 89, 56, 78, 152, 66, 48, 77, 2, 96.

PV = nRT avec les unités suivantes (généralement utilisées):
- P = pression du gaz en Pa
- V = volume en m3
- n = quantité de matière en mol
- T = température absolue en K (Kelvins)
- R = 8.314 SI (si les unités utilisées sont celles ci-dessus)

## Solution

In [51]:
def formule(X):
    R = 8.314 
    P = 101325
    n = 1       
    T = 273.15

    Y = (n * R * T) / (P * X)
    return Y

In [56]:
X1 = [15, 89, 56, 78, 152, 66, 48, 77, 2, 96]

In [57]:
Y_output = [formule(X) for X in X1]

In [58]:
print(Y_output)

[0.001494181495188749, 0.0002518283418857442, 0.00040022718621127206, 0.00028734259522860555, 0.0001474521212357318, 0.0003395867034519884, 0.00046693171724648407, 0.00029107431724456146, 0.011206361213915618, 0.00023346585862324203]

## Exercice  8

Créer une fonction qui identifie les mots ou phrases palindromiques (mots ou phrases qui se lisent dans les deux sens, par exemple RADAR). 

Cette fonction prendra comme argument le mot « mot » et retournera les phrases : « mot est un palindrome » si le mot = palindrome et « mot n’est pas un palindrome », sinon. 
- Appliquer votre fonction sur les mots « radar », « hannah », « sept », « kayak », « la mariée ira mal », « capitaine », « engage le jeu que je le gagne ».

## Solution

In [60]:
def palind(mot):
    mot=mot.replace(" ", "")
    if mot==mot[::-1]:
        return f"{mot} est un palindrome"
    else:
        return f"{mot} n'est pas un palindrome."

In [61]:
test = ["radar", "hannah", "sept", "kayak", "la mariée ira mal", "capitaine", "engage le jeu que je le gagne"]

In [63]:
for mot in test:
    print(palind(mot))

radar est un palindrome
hannah est un palindrome
sept n'est pas un palindrome.
kayak est un palindrome
lamariéeiramal n'est pas un palindrome.
capitaine n'est pas un palindrome.
engagelejeuquejelegagne est un palindrome

## Exercice 9

Écrire une fonction volumeSphere qui calcule le volume d’une sphère de rayon r fourni
en argument et qui utilise la fonction cube.
- Tester la fonction volumeSphere par un appel dans le programme principal.

## Solution

In [5]:
import math
def cube(x):
    return x**3

In [9]:
def volumeSphere(r):
    v = (4/3) * math.pi * cube(r)
    return v

In [10]:
v = volumeSphere(3)

In [11]:
print(v)

113.09733552923254

## Enseignant

Patrice Mazel - patrice.mazel@protonmail.com - 3A MAM 2023/2024